body {
    display: flex;
    flex-direction: column;
    color: beige;
    font-family: verdana;
    background-color: black;
}

textarea {
    resize: none;
}

.shop-button {
    background-color: #FF4500;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.shop-button:hover {
    background-color: #FF6347;
}

.home {
    display: flex;
    flex-direction: column;
    background: url('bg1.png') center center no-repeat;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-list {
    gap: 10px;
}

.nav-link {
    background-color: rgb(0, 0, 0);
    border:0; 
    color:beige;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 5px;
}

.nav-link:hover {
    background-color: rgba(255, 192, 44, 0.2);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.horizontal-border-spacing{
    padding-right: 60px;
    padding-left: 60px;
}

.horizontal-border-spacing-large{
    padding-right: 100px;
    padding-left: 100px;
}

.vertical-border-spacing{
    padding-top: 60px;
    padding-bottom: 60px;
}

.dark-background {
    background-color: #0b1116;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next row if they cannot fit in a single line */
    padding: 10px;
    width: 100%;
    gap: 20px;
}

.gallery-item {
    flex: 1 1 calc(25% - 20px);
    border: 0.5px solid red;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.sky-blue-text {
    color: skyblue;
}

.font-just {
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .horizontal-border-spacing{
        padding-right: 20px;
        padding-left: 20px;
    }
}